@charset "utf-8";
/* CSS Document */
body {
    margin: 0 auto;
    width: 500px;
    padding-top: 15em;
    height: 1000px;
}

.cube, .flet {
    width: 15em;
    height: 15em;
    margin: 0;
}
div.cube {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -7.5em;
    -webkit-transform-origin: 50% 50% -7.5em;
    -webkit-transform: rotate3d(1,1,0,45deg);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: slide 6s  ease-in-out infinite alternate;
}
figure.flet {
    position: absolute;
    transform-origin: 50% 50% -7.5em;
    -webkit-transform-origin: 50% 50% -7.5em;
}
.flet.top {
    background: grey;
    transform: rotate3d(1,0,0,90deg);
    -webkit-transform: rotate3d(1,0,0,90deg);
}
.flet.front {
    background: blue;
}
.flet.left {
    background:  orange;
    transform: rotate3d(0,-1,0,90deg);
    -webkit-transform: rotate3d(0,-1,0,90deg);
}
.flet.right {
    background: green;
    transform: rotate3d(0,1,0,90deg);
    -webkit-transform: rotate3d(0,1,0,90deg);
}
.flet.botton {
    background: yellow;
    transform: rotate3d(-1,0,0,90deg);
    -webkit-transform: rotate3d(-1,0,0,90deg);
}
.flet.back {
    background: red;
    transform: rotate3d(-1,0,0,180deg);
    -webkit-transform: rotate3d(-1,0,0,180deg);
}
@-webkit-keyframes slide {
    from {
        -webkit-transform: rotate(0deg)  translateY(-10em) translateX(-10em) rotate3d(1,1,1,0deg) ;
    }
    to {
        -webkit-transform: rotate(360deg)  translateY(-20em) translateX(-10em) rotate3d(1,1,1,360deg) ;
    }
}
@keyframes slide {
    from {
        transform: rotate(0deg) translateX(-10em) rotate3d(1,1,1,0deg) translateX(50%);
    }
    to {
        transform: rotate(360deg) translateX(-10em) translateX(-10em) rotate3d(1,1,1,360deg) ;
    }
}
